<a href="https://colab.research.google.com/github/rainnn99/DataAnalysis_Airbnb/blob/main/DataAnalysis_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv('/content/drive/MyDrive/project/Airbnb/Airbnb_list_in_tokyo.csv', encoding='cp949')
df.head(3)

,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,within a day,100%,t,Sumida Ku,35.71707,139.82608,Entire home/apt,2,1 bath,1,2,"[""Microwave"", ""Hangers"", ""Kitchen"", ""Fire exti...","12,000.00",0,39,174,4.77,4.74,4.92,4.84,4.83,4.53,4.79,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Shibuya District,4,"['email', 'phone']",4,1 bath,NaN,"[""First aid kit"", ""Stove"", ""Hangers"", ""Bed lin...","9,264.00",180,2,2,1125,1125,2015-04-05,2021-12-30,4.62,4.3,M130005396,t,4,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,within an hour,100%,t,Nakano Ku,35.73445,139.63139,Entire home/apt,2,1 bath,1,1,"[""Kitchen"", ""TV"", ""Fire extinguisher"", ""Essent...","7,419.00",90,90,61,4.8,4.9,4.85,4.93,4.87,4.61,4.77,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.loc[:, ~df.columns.str.contains('Unnamed:')]
df.head(3)

,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,within a day,100%,t,Sumida Ku,35.71707,139.82608,Entire home/apt,2,1 bath,1,2,"[""Microwave"", ""Hangers"", ""Kitchen"", ""Fire exti...","12,000.00",0,39,174,4.77,4.74,4.92,4.84,4.83,4.53,4.79,f
1,Shibuya District,4,"['email', 'phone']",4,1 bath,NaN,"[""First aid kit"", ""Stove"", ""Hangers"", ""Bed lin...","9,264.00",180,2,2,1125,1125,2015-04-05,2021-12-30,4.62,4.3,M130005396,t,4,4,0,0,NaN
2,within an hour,100%,t,Nakano Ku,35.73445,139.63139,Entire home/apt,2,1 bath,1,1,"[""Kitchen"", ""TV"", ""Fire extinguisher"", ""Essent...","7,419.00",90,90,61,4.8,4.9,4.85,4.93,4.87,4.61,4.77,9

In [ ]:
df.shape

(13356, 24)

In [ ]:
column_name = 'host_is_superhost'
df = df[df[column_name].isin(['t', 'f'])]

In [ ]:
df.head(3)

,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,within a day,100%,t,Sumida Ku,35.71707,139.82608,Entire home/apt,2,1 bath,1,2,"[""Microwave"", ""Hangers"", ""Kitchen"", ""Fire exti...","12,000.00",0,39,174,4.77,4.74,4.92,4.84,4.83,4.53,4.79,f
2,within an hour,100%,t,Nakano Ku,35.73445,139.63139,Entire home/apt,2,1 bath,1,1,"[""Kitchen"", ""TV"", ""Fire extinguisher"", ""Essent...","7,419.00",90,90,61,4.8,4.9,4.85,4.93,4.87,4.61,4.77,9
3,within an hour,100%,t,Kita Ku,35.73844,139.76917,Private room,1,1 shared bath,NaN,1,"[""Luggage dropoff allowed"", ""Private entrance""...","8,902.00",0,116,248,4.98,4.96,4.92,4.98,4.98,4.84,4.91,f

In [ ]:
df.shape

(6550, 24)

In [ ]:
df.isnull().sum()

host_response_time              332
host_response_rate              332
host_is_superhost                 0
neighbourhood_cleansed           28
latitude                         11
longitude                         3
room_type                         0
accommodates                      0
bathrooms_text                   14
bedrooms                       1045
beds                            276
amenities                         0
price                             0
availability_90                   3
availability_365                  3
number_of_reviews                 3
review_scores_rating            655
review_scores_accuracy          656
review_scores_cleanliness       656
review_scores_checkin           656
review_scores_communication     657
review_scores_location          695
review_scores_value             770
instant_bookable                117
dtype: int64

In [ ]:
unique_values = df['host_response_time'].unique()
print(unique_values)

['within a day' 'within an hour' 'within a few hours' nan " 'phone'"
 'a few days or more' '1' '4' '28'
 'From the ryokan, walk about 10 minutes, there are convenience stores, supermarkets. Walking to the Sensoji Temple, there will be commercial facilities, various shops, restaurants and so on. You can also take a water bus tour nearby.<br />From Thunder gate to Sensoji Temple, there is a street called Nakamise, which has many souvenirs and snack shops. For example, the famous [??], [??, [???, [????? and so on.<br />You can take a water bus to see the scenery of Tokyo? Sumida River. Especially the cherry blossom season, very beautiful??,https://a0.muscache.com/pictures/c4fef331-166a-4fdc-8c5c-54f1a7d087a4.jpg,224733946,https://www.airbnb.com/users/show/224733946,??2018-11-07,,",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_x_medium,Asakusa/Ueno,5,6,[\'email\''
 'From the ryokan, walk about 10 minutes, there are convenience stores, supermarkets. Walking to the Sensoji Temple, there will be commercial facilities, various shops, restaurants and so on. You can also take a water bus tour nearby.<br />From Thunder gate to Sensoji Temple, there is a street called Nakamise, which has many souvenirs and snack shops. For example, the famous [??], [??, [???, [????? and so on.<br />You can take a water bus to see the scenery of Tokyo? Sumida River. Especially the cherry blossom season, very beautiful??,https://a0.muscache.com/pictures/13f7d602-2f77-48f5-87b7-68be2bd249d7.jpg,224733946,https://www.airbnb.com/users/show/224733946,??2018-11-07,,",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_x_medium,Asakusa/Ueno,5,6,[\'email\''
 'From the ryokan, walk about 10 minutes, there are convenience stores, supermarkets. Walking to the Sensoji Temple, there will be commercial facilities, various shops, restaurants and so on. You can also take a water bus tour nearby.<br />From Thunder gate to Sensoji Temple, there is a street called Nakamise, which has many souvenirs and snack shops. For example, the famous [??], [??, [???, [????? and so on.<br />You can take a water bus to see the scenery of Tokyo? Sumida River. Especially the cherry blossom season, very beautiful??,https://a0.muscache.com/pictures/cb474b7c-3455-4beb-b6ec-fd5e33f42f98.jpg,224733946,https://www.airbnb.com/users/show/224733946,??2018-11-07,,",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_x_medium,Asakusa/Ueno,5,6,[\'email\''
 'From the ryokan, walk about 10 minutes, there are convenience stores, supermarkets. Walking to the Sensoji Temple, there will be commercial facilities, various shops, restaurants and so on. You can also take a water bus tour nearby.<br />From Thunder gate to Sensoji Temple, there is a street called Nakamise, which has many souvenirs and snack shops. For example, the famous [??], [??, [???, [????? and so on.<br />You can take a water bus to see the scenery of Tokyo? Sumida River. Especially the cherry blossom season, very beautiful??,https://a0.muscache.com/pictures/a32cf5f5-7a61-492f-80e2-e136ceabfff7.jpg,224733946,https://www.airbnb.com/users/show/224733946,??2018-11-07,,",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_x_medium,Asakusa/Ueno,5,6,[\'email\''
 'From the ryokan, walk about 10 minutes, there are convenience stores, supermarkets. Walking to the Sensoji Temple, there will be commercial facilities, various shops, restaurants and so on. You can also take a water bus tour nearby.<br />From Thunder gate to Sensoji Temple, there is a street called Nakamise, which has many souvenirs and snack shops. For example, the famous [??], [??, [???, [????? and so on.<br />You can take a water bus to see the scenery of Tokyo? Sumida River. Especially the cherry blossom season, very beautiful??,https://a0.muscache.com/pictures/a3589fe9-d2a8-4703-b91e-eceae55c7178.jpg,224733946,https://www.airbnb.com/users/show/224733946,??2018-11-07,,",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/cdb3961a-07ef-4853-ad9e-3afd555259a7.jpg?aki_policy=profile_x_medium,Asakusa/Ueno,5,6,[\'email\''
 "??????\n????????????????2023???5??eagle Tokyo??????\n??9????????\n??eagle Tokyo???\n????\n?10??????????????!?\n????????\n???????????????????????????,within an hour,94%,100%,f,https://a0.muscache.com/im/pictures/user/ea869e43-8a28-4c54-ac2b-af0b23adf13c.jpg?aki_policy=profile_small,https://a0.muscache.com/im/pictures/user/ea869e43-8a28-4c54-ac2b-af0b23adf13c.jpg?aki_policy=profile_x_medium,,10,12,['phone'"
 '6' '14' '16' '2' '3' '26']

In [ ]:
df = df[df['host_response_time'].isin(['within an hour', 'within a few hours', 'within a day', 'a few days or more'])]
unique_values = df['host_response_time'].unique()
print(unique_values)

['within a day' 'within an hour' 'within a few hours' 'a few days or more']

In [ ]:
#df.to_csv('Airbnb_in_tokyo_processed.csv', index=False)
df.shape
df.isnull().sum()

host_response_time               0
host_response_rate               0
host_is_superhost                0
neighbourhood_cleansed           0
latitude                         0
longitude                        0
room_type                        0
accommodates                     0
bathrooms_text                  14
bedrooms                       975
beds                           265
amenities                        0
price                            0
availability_90                  0
availability_365                 0
number_of_reviews                0
review_scores_rating           571
review_scores_accuracy         572
review_scores_cleanliness      572
review_scores_checkin          572
review_scores_communication    572
review_scores_location         572
review_scores_value            572
instant_bookable                 0
dtype: int64

 ,

In [ ]:
#    No.1 host_response_time  3 
df['host_response_time'].fillna("a few days or more", inplace=True)
change_val = {"within an hour" : 0, "within a few hours" : 1, "within a day" : 2, "a few days or more" : 3}
df['host_response_time'] = df['host_response_time'].map(change_val)
df.isnull().sum()

host_response_time               0
host_response_rate               0
host_is_superhost                0
neighbourhood_cleansed           0
latitude                         0
longitude                        0
room_type                        0
accommodates                     0
bathrooms_text                  14
bedrooms                       975
beds                           265
amenities                        0
price                            0
availability_90                  0
availability_365                 0
number_of_reviews                0
review_scores_rating           571
review_scores_accuracy         572
review_scores_cleanliness      572
review_scores_checkin          572
review_scores_communication    572
review_scores_location         572
review_scores_value            572
instant_bookable                 0
dtype: int64

In [ ]:
df.head(3)

,host_response_time,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,2,100%,1,Sumida Ku,35.71707,139.82608,Entire home/apt,2,1 bath,1,2,"[""Microwave"", ""Hangers"", ""Kitchen"", ""Fire exti...","12,000.00",0,39,174,4.77,4.74,4.92,4.84,4.83,4.53,4.79,0.0
2,0,100%,1,Nakano Ku,35.73445,139.63139,Entire home/apt,2,1 bath,1,1,"[""Kitchen"", ""TV"", ""Fire extinguisher"", ""Essent...","7,419.00",90,90,61,4.8,4.9,4.85,4.93,4.87,4.61,4.77,1.0
3,0,100%,1,Kita Ku,35.73844,139.76917,Private room,1,1 shared bath,NaN,1,"[""Luggage dropoff allowed"", ""Private entrance""...","8,902.00",0,116,248,4.98,4.96,4.92,4.98,4.98,4.84,4.91,0.0

In [ ]:
# 
# bedrooms_text, bedrooms, beds => 0  :          0 .
#review_ => 

target_columns = ['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']
for column in target_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

# NaN    .
for column in target_columns:
    mean_value = df[column].mean()
    df[column].fillna(mean_value, inplace=True)
df.isnull().sum()

host_response_time               0
host_response_rate               0
host_is_superhost                0
neighbourhood_cleansed           0
latitude                         0
longitude                        0
room_type                        0
accommodates                     0
bathrooms_text                  14
bedrooms                       975
beds                           265
amenities                        0
price                            0
availability_90                  0
availability_365                 0
number_of_reviews                0
review_scores_rating             0
review_scores_accuracy           0
review_scores_cleanliness        0
review_scores_checkin            0
review_scores_communication      0
review_scores_location           0
review_scores_value              0
instant_bookable                 0
dtype: int64

In [ ]:
target_columns = ['bathrooms_text', 'bedrooms', 'beds']
for column in target_columns:
  df[column].fillna("0", inplace=True)
df.isnull().sum()

host_response_time             0
host_response_rate             0
host_is_superhost              0
neighbourhood_cleansed         0
latitude                       0
longitude                      0
room_type                      0
accommodates                   0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
availability_90                0
availability_365               0
number_of_reviews              0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
instant_bookable               0
dtype: int64

In [ ]:
df.dtypes

host_response_time              object
host_response_rate              object
host_is_superhost               object
neighbourhood_cleansed          object
latitude                        object
longitude                       object
room_type                       object
accommodates                    object
bathrooms_text                  object
bedrooms                        object
beds                            object
amenities                       object
price                           object
availability_90                 object
availability_365                object
number_of_reviews               object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object